* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 238, 245);
    overflow: hidden;
}

#sun {
    position: absolute;
    top: -50px; left: 100vw;
    transform: translate(-75%, 0);
    width: 175px; height: 175px;
    background-color: yellow;

    border-radius: 50%;
}

#floor-ice {
    z-index: -20;
    position: absolute;
    top: 300px; left: 0;
    width: 100vw; height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 225, 255), rgb(190, 245, 255));
    background-color: blue;
}

.biggest-pyramid-ice {
    z-index: -50;
    position: absolute;
    top: 250px; left: 50px;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 300px; height: 500px;
    background-image: linear-gradient(to right, rgb(0, 225, 255), rgb(190, 245, 255));
    box-shadow: 1px 0 100px rgb(140, 231, 243);
}

.smallest-pyramid-ice {
    z-index: -55;
    position: absolute;
    top: 450px; left: 350px;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 300px; height: 500px;
    background-image: linear-gradient(to right, rgb(0, 225, 255), rgb(190, 245, 255));
    box-shadow: 1px 0 100px rgb(140, 231, 243);
}

#body-penguin {
    z-index: -10;
    position: absolute;
    top: 235px; left: 50%;
    transform: translate(-50%, -50%);
    width: 175px; height: 155px;
    background-image: linear-gradient(to bottom, white 0 50%, rgb(219, 211, 211));
    background-color: white;

    border-radius: 50%;
}
#body-penguin h1 {
    position: absolute;
    top: 65%; left: 51%;
    transform: translate(-50%, -50%);

    color: rgba(95, 90, 90, 0.836);
    font-size: 1.6rem;
}

#head-penguin {
    position: absolute;
    top: 140px; left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; height: 133px;
    background-image: linear-gradient(30deg, rgb(165, 163, 163) 0 50%, rgb(255, 255, 255));

    border-radius: 50%;
}

#face-penguin {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; height: 90%;
    background-color: white;

    clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0 100%);

    border-radius: 50%;
}
.face-right {
    position: absolute;
    top: 44.5%; left: 67.5%;
    transform: translate(-50%, -50%);
    width: 80px; height: 80px;
    background-color: white;

    border-radius: 50px 50px ;
}
.face-left {
    position: absolute;
    top: 44.5%; left: 32.5%;
    transform: translate(-50%, -50%);
    width: 80px; height: 80px;
    background-color: white;

    border-radius: 50px 50px;
}
.eye-right {
    position: absolute;
    top: 50%; left: 32%;
    transform: translate(-50%, -50%);
    width: 20px; height: 20px;
    background-color: black;

    border-radius: 50%;
}
.eye-right-inside {
    position: absolute;
    top: 75%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30px; height: 20px;
    background-color: white;

    border-radius: 50%;
}

.eye-left {
    position: absolute;
    top: 50%; left: 68%;
    transform: translate(-50%, -50%);
    width: 20px; height: 20px;
    background-color: black;

    border-radius: 50%;
}

.eye-left-inside {
    position: absolute;
    top: 75%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30px; height: 20px;
    background-color: white;

    border-radius: 50%;
}

.cheek-right {
    position: absolute;
    top: 67%; left: 25%;
    transform: translate(-50%, -50%);
    width: 18px; height: 10px;
    background-color: pink;
    
    border-radius: 50%;
}
.cheek-left {
    position: absolute;
    top: 67%; left: 75%;
    transform: translate(-50%, -50%);
    width: 18px; height: 10px;
    background-color: pink;
    
    border-radius: 50%;
}

.month {
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    width: 33px; height: 15px;
    background-color: orange;
    border-radius: 50%;
}
.month:before {
    content: "";
    position: absolute;
    top: 90%; left: 50%;
    transform: translate(-50%, -50%);
    width: 25px; height: 10px;
    background-color: orange;
    border-radius: 50%;
}

#collar-penguin {
    z-index: -5;
    position: absolute;
    top: 195px; left: 50%;
    transform: translate(-50%, -50%);
    width: 90px; height: 70px;
    background-color: rgb(180, 176, 176);

    border-radius: 50%;
}

.leg-right {
    z-index: -15;
    position: absolute;
    top: 305px; left: 54%;
    transform: translate(-50%, -50%) rotate(-20deg);
    width: 50px; height: 50px;
    background-color: orange;

    border-radius: 20px 50px 15px 50px;
}

.leg-left {
    z-index: -15;
    position: absolute;
    top: 305px; left: 46%;
    transform: translate(-50%, -50%) rotate(-260deg);
    width: 50px; height: 50px;
    background-color: orange;

    border-radius: 15px 50px 20px 50px;
}

.arm-right {
    z-index: -16;
    position: absolute;
    top: 190px; left: 57%;
    transform: rotate(-40deg) translate(-50%, -50%);
    width: 40px; height: 80px;
    background-image: linear-gradient(to right, rgb(180, 176, 176) 0 60%, rgb(233, 230, 230));

    border-radius: 10px 10px 30px 100px;
}

.arm-left {
    z-index: -16;
    position: absolute;
    top: 235px; left: 41.5%;
    transform-origin: 100% 0;
    transform: rotate(140deg);
    width: 40px; height: 100px;
    background-color: black;
    background-image: linear-gradient(to left, rgb(134, 131, 131), rgb(233, 230, 230));

    border-radius: 10px 10px 100px 30px;
    animation: arm-bye 4s linear infinite 1s;
}

@keyframes arm-bye {
    0% {
        transform: rotate(140deg);
    }
    10% {
        transform: rotate(120deg);
    }
    20% {
        transform: rotate(140deg);
    }
    30% {
        transform: rotate(120deg);
    }
    40% {
        transform: rotate(140deg);
    }
}

#penguin {
    transition: all 1.5s;
}

#penguin:active {
    transition: all 2s;
    transform: scale(1.5) translateY(-50px);
    cursor: not-allowed;
}

@media (max-width: 700px) {
    .arm-right {
        left: 67%;
    }
    .arm-left {
        left: 31%;
    }
}