* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
      rgba(71, 71, 142, 0.9),
      rgba(71, 71, 142, 0.9)),
        url("imagens/background-image.jpeg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin: auto;
    width: 97vw;
    max-width: 550px;
}

/* ------------------------------------------------------ */

header {
    padding: 50px 3px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header h1 {
    font-size: 2.3rem;
}
header p {
    font-size: 1.1rem;
}

/* --------------------------------------------------------- */
.forms {
    padding: 40px 40px 60px;
    background-color: rgb(40, 40, 72, 0.8);
    font-size: 1.3rem;
    border-radius: 8px;
}

.primary-fields {
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.primary-fields input, .primary-fields select, .favorite-feature select {
    padding: 0 10px;
    font-size: 1.06rem;
    margin-bottom: 12px;
    height: 40px;
}

.recomendation {
    padding-bottom: 35px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.recomendation input {
    width: 17px;
    height: 17px;
}
.recomendation p {
    margin-bottom: 8px;
}

.favorite-feature {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.favorite-feature select {
    width: 100%;
}

.improved {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.improved input {
    width: 17px;
    height: 17px;
}
.improved p {
    margin-bottom: 8px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comments textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 1rem;
}

.submit {
    margin-top: 30px;
}

.submit button {
    background-color: #37AF65;
    font-size: 1.1rem;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 800px) {
    main {
        max-width: 650px;
    }
}
@media (min-width: 1200px) {
    main {
        max-width: 750px;
    }
}
