* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 35px auto;
    padding: 20px;
    background-color: rgb(228, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
    width: 90vw;

    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

header {
    padding: 40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
header h1 {
    font-size: clamp(35px, 7vw, 50px);
}
header p {
    font-size: clamp(10px, 3vw, 20px);
}

#image-legend {
    padding: 20px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.image img {
    width: 100%;
}
#image-legend p {
    text-align: center;
}

#list {
    padding: 40px 0;
    list-style-position: inside;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

#list h2 {
    text-align: center;
    font-size: 1.2rem;
}

#list ul {
    padding: 0 25px;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#list footer {
    margin-top: 20px;
}

#end-phrase {
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 22px);
    font-weight: bold;
}