* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 13px auto;
    padding: 10px;
    width: 95%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

header {
    padding: 10px 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
header h1 {
    font-size: 2.5rem;
}
header h2 {
    font-size: 1.7rem;
}

section {
    width: 100%;
    height: 500px;
}

.caption-table {
    position: sticky;
    inset: 0;
    padding: 5px 20px;
    font-size: 1.1rem;
    background-color: #0A0A23;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    gap: 23px;
}

table {
    width: 100%;
    padding: 0 10px;
    border-collapse: collapse;
}

caption {
    padding: 10px 15px;
    text-align: start;
    color: rgba(0, 0, 255, 0.788);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

tr {
    font-size: 1.2rem;
}

td {
    padding: 5px 10px;
}

.price {
    padding-right: 20px;
    text-align: end;
    width: 60px;
}

tr:nth-child(odd) {
    background-color: rgb(221, 220, 220);
}

tr:last-child {
    background-color: white;
}

.last-tr td {
    border-bottom: 4px double black;
}
.last-tr:hover td {
  background-color: rgba(93, 215, 255, 0.75);
}
