* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
    color: white;
}

hr {
    height: 2px;
    background-color: #3B3B4F;
    border: 2px solid #3B3B4F;
}

body {
    background-color: #1B1B32;
}

main {
    margin: auto;
    width: clamp(400px, 80%, 500px);
}

header {
    padding: 40px 0;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.informations {
    padding: 0 0 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.informations input, .aditional-informations input {
    align-self: center;
    width: 100%;
    height: 30px;
    background-color: #0A0A23;
    border: none;
}

.account-type {
    padding: 0 0 40px;
}

.account-type {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.aditional-informations {
    color: white;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.aditional-informations select {
    align-self: center;
    width: 100%;
    height: 30px;
    border: none;
}
.aditional-informations textarea {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 0.95rem;
    padding: 4px 3px;
    align-self: center;
    width: 100%;
    height: 50px;
    background-color: #0A0A23;
    border: none;
}
.terms {
    padding: 20px 0;
    color: white;
}
.submit {
    padding: 10px 0 50px;
    display: flex;
    justify-content: center;
}
.submit button {
    padding: 7px 135px;
    background-color: #3B3B4F;
    font-size: 1.2rem;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.425);
    transition: transform 0.2s;
    cursor: pointer;
}
.submit button:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.2s;
}