* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #141E28;
}

main {
    margin: auto;
    padding: 0 20px 20px;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

header .banner {
    width: 100%;
    max-width: 1080px;
}

header .banner img {
    width: 100%;
}

header .title-paragraph {
    text-align: center;
    color: #FF4500;
}

.title-paragraph h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3.7rem;
}
.title-paragraph p {
    font-size: 1.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-text {
    flex: 0 0 50%;
    color: white;
    font-size: 1.2rem;
}
nav .nav-text .p2 {
    margin-top: 5px;
    color: rgba(153, 143, 143, 0.849);
}
nav .social-media {
    flex: 0 0 50%;
    color: white;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
}
nav .social-media > a {
    color: white;
}
