#principal {
    margin: 30px 0;
    color: rgba(194, 184, 184, .9);
    font-size: 1.2rem;
    align-self: flex-start;
}

.title-principal {
    margin: 25px 0;
    text-align: center;
    font-size: 0.9rem;
}
.first-paragraph-principal::first-letter {
    float: left;
    font-size: 4rem;      /* tamanho da letra */
    line-height: 1.2;      /* controla quantas linhas ela ocupa */
    padding-right: 8px;
    padding-top: 4px;
    color: #FF4500;
    font-family: serif;
}
.title-principal h2 {
    margin: 15px 0;
    color: rgba(3, 190, 207, .75);
    font-weight: normal;
}
.title-principal hr {
    height: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: rgba(128, 128, 128, 0.5);
}

@media (min-width: 700px) {
    #principal {
        columns: 2;
    }
}
@media (min-width: 1200px) {
    #principal {
        columns: 3;
    }
}

