* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("imagens/coffee-beans-seamless-background-28039257.webp") center center ;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 20px 0px;
    height: 2px;
    background-color: brown;
    border: 2px solid brown;
}

main {
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    max-width: 609px;
    background-color: burlywood;
}

header {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
header h1 {
    font-family: Impact, serif;
    font-size: 2.5rem;
}

.section-food {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-food h2 {
    margin-bottom: 20px;
    font-family: Impact, serif;
    font-size: 2rem;
}

.names-prices {
    margin: 5px 0px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > a {
    color: black;
}

footer > a:hover {
    color: brown;

}