* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #252536;
}

main {
    position: relative;
    width: 90%;
    height: 100vh;
}

.moon {
    position: absolute;
    top: 40px; left: 0;
    background: radial-gradient(circle,#ffffff 0%,#f5f5f5 60%,#e0e0e0 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:
        0 0 30px  rgba(255, 255, 255, 0.9),
        0 0 80px  rgba(255, 255, 255, 0.6),
        0 0 140px rgba(255, 255, 255, 0.3),
        0 0 220px rgba(255, 255, 255, 0.15);
}

.building-one {
    position: absolute;
    top: 100%; left: 0;
    transform: translateY(-100%);
    width: 15%;
    height: 60%;
    background-color: black;
    clip-path: polygon(
           0  20%, 20%  20%,  20% 10%,
         30%  10%, 50%    0,  70% 10%,
         80%  10%, 80%  20%, 100% 20%,
        100% 100%,   0 100% );
}
.building-one-decoration {
    position: absolute;
    top: 100%; left: 100%;
    transform: translate(-106%, -107%);
    width: 90%;
    height: 70%;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
}
.blue {
    width: calc(100%/22);
    background-color: #8CB3D9;
    
}
/* ----------------------------------------- */
.building-two {
    z-index: -5;
    position: absolute;
    top: 100%; left: 10%;
    transform: translateY(-100%);
    width: 15%;
    height: 70%;
    background-color: black;
    background-image: linear-gradient(to bottom, black 0, #B796F9 8%, black 8%, #B796F9 16%,black 16%, #B796F9 24%, black 24% 57%, #B796F9 100%);
    clip-path: polygon(
        0 24%, 5% 24%, 5% 16%,
        10% 16%, 10% 8%, 15% 8%,
        15% 0, 85% 0, 85% 8%,
        90% 8%, 90% 16%, 95% 16%,
        95% 24%, 100% 24%, 100% 100%, 0 100%);
}
.color-building-two {
    background-image: linear-gradient(to bottom, black, #B796F9);
}
/* -------------------------------------------- */
.building-three {
    position: absolute;
    top: 100%; left: 20%;
    transform: translateY(-100%);
    width: 15%;
    height: 45%;
    background-color:  black;
    clip-path: polygon(
        0 15%, 10% 0, 85% 0,
        100% 15%, 100% 100%, 0 100%
    );
}
.building-three-decoration {
    position: absolute;
    top: 100%; left: 100%;
    transform: translate(-112%, -100%);
    width: 80%;
    height: 75%;
    background-image: linear-gradient(to right, #D98CB3 0 26.31%, black 26.31% 36.83% ,#D98CB3 36.83% 63.14%, black 63.14% 73.66%, #D98CB3 73.66% 100%);
}
/* -------------------------------------------- */
.building-four {
    z-index: -5;
    position: absolute;
    top: 100%; left: 30%;
    transform: translateY(-100%);
    width: 15%;
    height: 55%;
    background-image: repeating-linear-gradient(to top, #8CD9B3 0 3%, black 3% 10%);
    clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
}
.roof-building-four {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 11%;
    background-color: black;
}
/* ----------------------------------------------- */
.building-five {
    position: absolute;
    top: 100%; left: 40%;
    transform: translateY(-100%);
    width: 15%;
    height: 40%;
    background-color: black;
    clip-path: polygon(
        0 47%, 0 15%, 10% 15%, 10% 0, 90% 0, 90% 15%, 100% 15%, 100% 47%, 90% 52%, 90% 60%, 100% 65%, 100% 100%, 0 100%, 0 65%, 10% 60%, 10% 52%);
}
.roof-building-five {
    position: absolute;
    top: 3px; left: 15%;
    width: 70%;
    height: 12%;
    background-image: linear-gradient(to right, #BB99FF 0 28.57%,black 28.57% 35.71%, #BB99FF 35.71% 64.27%, black 64.27% 71.41%, #BB99FF 71.41% 100%);
}
/* ----------------------------------------- */
.building-six {
    z-index: -5;
    position: absolute;
    top: 100%; left: 50%;
    transform: translateY(-100%);
    width: 15%;
    height: 58%;
    background-image: repeating-linear-gradient(to right, black 0 7.69%, #BB799A 15.38%);
}
/* ----------------------------------------- */
.building-seven {
    position: absolute;
    top: 100%; left: 60%;
    transform: translateY(-100%);
    width: 15%;
    height: 38%;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.column-windows-building-seven {
    width: 35%;
    height: 95%;
    background-image: repeating-linear-gradient(to bottom, #8CD9B3 0 6%, black 6% 10%);
}
/* ----------------------------------------- */
.building-eight {
    z-index: -5;
    position: absolute;
    top: 100%; left: 70%;
    transform: translateY(-100%);
    width: 12%;
    height: 45%;
    background-color: black;
    clip-path: polygon(
        0 0, 100% 12%, 100% 100%, 0 100%
    );
}
.decoration-building-eight {
    position: absolute;
    top: 12%; left: 0;
    width: 100%;
    height: 78%;
    
    display: flex;
    justify-content: space-around;
}
.column-circles-building-eight {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 25%;
}
.circle-purple {
    width: 75%;
    height: 13%;
    background-color: #BB99FF;
    border-radius: 50%;
}
/* ----------------------------------------- */
.building-nine {
    z-index: -10;
    position: absolute;
    top: 100%; left: 77%;
    transform: translateY(-100%);
    width: 15%;
    height: 60%;
    background-color: black;
    clip-path: polygon(0 18%, 10% 18%, 10% 12%, 48% 12%, 48% 0, 52% 0, 52% 12%, 90% 12%, 90% 18%, 100% 18%, 100% 100%, 0 100%);
}
.decoration-building-nine {
    position: absolute;
    top: 25%; left: 5%;
    width: 90%;
    height: 70%;
    background-image: linear-gradient(to right, #8CB3D9 0 18.2%, black 18.2% 27.3%, #8CB3D9 27.3% 45.5%, black 45.5% 54.6%, #8CB3D9 54.6% 72.8%, black 72.8% 81.9%, #8CB3D9 81.9% 100%);
    background-color: white;
}
/* ----------------------------------------- */
.building-ten {
    position: absolute;
    top: 100%; left: 88%;
    transform: translateY(-100%);
    width: 12%;
    height: 40%;
    background-color: black;
}
.decoration-building-ten {
    position: absolute;
    top: 10%; left: 5%;
    width: 90%;
    height: 80%;
    background-color: black;

    display: flex;
    justify-content: space-between;
}
.column-windows-building-ten {
    width: 27%;
    height: 100%;
    background-image: linear-gradient(to bottom, #D98CB3 0 26.31%, black 26.31% 36.83%, #D98CB3 36.83% 63.13%, black 63.13% 73.65%, #D98CB3 73.65% 100%);
}

@media (min-width: 1000px) {
    body {
        background-color: lightblue;
    }
    .moon {
        background: radial-gradient(circle,orange 0%,rgb(255, 187, 0) 60%,rgb(255, 187, 0) 100%);
            box-shadow:
                0 0 30px  orange,
                0 0 80px  orange,
                0 0 140px orange,
                0 0 220px orange;
        }
        .building-one {
            background-color: rgb(56, 85, 212);
        }
        .building-one-decoration {
            background-color: rgb(56, 85, 212);
        }
        .building-two {
            background-color: rgb(150, 90, 158);
            background-image: linear-gradient(to bottom, rgb(203, 143, 212) 0, rgb(150, 90, 158) 8%, rgb(203, 143, 212) 8%, rgb(150, 90, 158) 16%,rgb(203, 143, 212) 16%, rgb(150, 90, 158) 24%, rgb(203, 143, 212) 24% 57%, rgb(150, 90, 158) 100%);
        }
        .building-three {
            background-color: rgb(190, 77, 139);
        }
        .building-three-decoration {
            background-image: linear-gradient(to right, #D98CB3 0 26.31%, rgb(190, 77, 139) 26.31% 36.83% ,#D98CB3 36.83% 63.14%, rgb(190, 77, 139) 63.14% 73.66%, #D98CB3 73.66% 100%);
        }
        .building-four {
            background-image: repeating-linear-gradient(to top, #8CD9B3 0 3%, rgb(44, 196, 150) 3% 10%);
        }
        .roof-building-four {
            background-color: rgb(44, 196, 150);
        }
        .building-five {
            background-color: rgb(150, 90, 158);
        }
        .roof-building-five {
            background-image: linear-gradient(to right, #BB99FF 0 28.57%,rgb(150, 90, 158) 28.57% 35.71%, #BB99FF 35.71% 64.27%, rgb(150, 90, 158) 64.27% 71.41%, #BB99FF 71.41% 100%);
        }
        .building-six {
            background-image: repeating-linear-gradient(to right, rgb(190, 77, 139) 0 7.69%, #BB799A 15.38%);
        }
        .building-seven {
            background-color: rgb(44, 196, 150);
        }
        .column-windows-building-seven {
            background-image: repeating-linear-gradient(to bottom, #8CD9B3 0 6%, rgb(44, 196, 150) 6% 10%);
        }
        .building-eight {
            background-color: rgb(150, 90, 158);
        }
        .building-nine {
            background-color: rgb(56, 85, 212);
        }
        .decoration-building-nine {
            background-image: linear-gradient(to right, #8CB3D9 0 18.2%, rgb(56, 85, 212) 18.2% 27.3%, #8CB3D9 27.3% 45.5%, rgb(56, 85, 212) 45.5% 54.6%, #8CB3D9 54.6% 72.8%, rgb(56, 85, 212) 72.8% 81.9%, #8CB3D9 81.9% 100%);
        }
        .building-ten {
            background-color: rgb(190, 77, 139);
        }
        .decoration-building-ten {
            background-color: rgb(190, 77, 139);
        }
        .column-windows-building-ten {
            background-image: linear-gradient(to bottom, #D98CB3 0 26.31%, rgb(190, 77, 139) 26.31% 36.83%, #D98CB3 36.83% 63.13%, rgb(190, 77, 139) 63.13% 73.65%, #D98CB3 73.65% 100%);
        }
    }
    
